@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Silkscreen", cursive;
}

:root {
  --main-background: #fff;
  --sec-background: #8648c1;
  --txt-primary: #f7f7f7;
  --txt-secondary: #222;
}

.body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  position: absolute;
  background-image: url("https://ik.imagekit.io/b8ugipzgo/FrontEnd/bg-login.jpg?updatedAt=1681700343737");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  position: sticky;
  top: 0;
}

.wrapper-login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  background-color: tomato;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  height: 570px;
  background-color: rgba(255, 255, 255, 0.7);
}

.input {
  border: 2px solid var(--sec-background);
  font-size: 14px;
  color: #1c1e21;
  transition: 0.1s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
}

.login-input:focus {
  box-shadow: #fff;
  outline: none;
}

.btn:hover {
  background-color: var(--main-background);
  color: var(--sec-background);
  transition: 0.1s ease-in-out;
}

.login-link {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 476px) {
  .login-wrapper {
    width: 250px;
  }

  .login-input {
    width: 90%;
  }

  .img-bg-wp {
    background-size: 470px 510px;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}
