@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Silkscreen", cursive;
}

:root {
  --main-background: #fff;
  --sec-background: #8d3c96;
  --txt-primary: #f7f7f7;
  --txt-secondary: #222;
}

.image {
  position: absolute;
  scale: 0.65;
  pointer-events: none;
  animation: animateImage 20s linear Infinite;
}

.body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  position: absolute;
  background-image: url("https://ik.imagekit.io/b8ugipzgo/FrontEnd/bg-login.jpg?updatedAt=1681700343737");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-bg-wp {
  min-width: 100%;
  height: 100vh;
  position: absolute;
  background-image: url("https://ik.imagekit.io/b8ugipzgo/FrontEnd/g.png?updatedAt=1681700368076");
  background-position: center;
  background-size: 580px 560px;
  background-repeat: no-repeat;
}

.login-wrapper{
  width: 100%;
  justify-content: center;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 25vh;
  backdrop-filter: blur(5px);
  width: 30%;
  height: 55vh;
  padding: 50px;
  background-color: rgba(141, 60, 150, 0.25);
}

.login-input-wrapper {
  margin-bottom: 16px;
}

.input{
  border: 2px solid var(--sec-background);
  font-size: 14px;
  color: #1c1e21;
  transition: 0.1s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
}

.login-input:focus {
  box-shadow: #fff;
  outline: none;
}


.btn:hover {
  background-color: var(--main-background);
  color: var(--sec-background);
  transition: 0.1s ease-in-out;
}

.login-link {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

@media screen and (max-width: 476px) {
  .login-wrapper {
    width: 250px;
  }

  .login-input {
    width: 90%;
  }

  .img-bg-wp {
    background-size: 470px 510px;
  }
}
