@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Silkscreen", cursive;
}

:root {
  --main-background: #fff;
  --sec-background: #8648c1;
  --txt-primary: #f7f7f7;
  --txt-secondary: #222;
}

.body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  position: absolute;
  background-image: url("https://ik.imagekit.io/b8ugipzgo/FrontEnd/bg-login.jpg?updatedAt=1681700343737");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper-register {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-register .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(134, 72, 193, 0.5);
}

.errorMsg {
  font-size: medium;
  color: white;
}


input[type="text"],
input[type="password"] {
  background-color: #fff;
  color: #1c1e21;
  font-size: 14px;
  transition: 0.1s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid var(--sec-background);
}

input[type="checkbox"] {
  margin-right: 8px;
}

button {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.btn:hover {
  background-color: var(--main-background);
  color: var(--sec-background);
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 16px;
}

.term-and-sheet {
  margin-bottom: 16px;
}

.term-and-sheet label {
  font-weight: normal;
  font-size: 12px;
  color: #1c1e21;
  margin-bottom: 0;
}

.term-and-sheet a {
  color: #1da1f2;
  text-decoration: none;
}

.term-and-sheet a:hover {
  text-decoration: underline;
}
